*{
    margin: 0;
    padding: 0;
}


$campos: #333333;

.bg_cont_card{
    width: 290px;
    background-color: rgba(0,0,0,.75);
    border-radius: 6px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    position: relative;


    .campo_title{
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 40px;
        
        .title{
            font-size: 32px;
            color: white;
            cursor: pointer;
        }   
       
    }
    .cont_email_password{
        display: flex;
        flex-direction: column;
        margin-bottom: 27px;
        
        .box_email{
            display: flex;
        }
        .box_password{
            display: flex;
        }

        .placeholder{
            position: absolute;
            padding-left: 12px;
            padding-top: 13px;
            transition: .5s;
            color: #6d6d6d;
            font-size: 16px;
        }
        
        .placeholder2{
            position: absolute;
            padding-left: 12px;
            padding-top: 13px;
            transition: .5s;
            color: #6d6d6d;
            font-size: 16px;
        }


        .campos{
            outline: none;
            position: relative;
            background-color: $campos;
            width: calc(100% - 10px);
            height: 50px;
            border-radius: 4px;
            border: none;
            color: white;
            margin-bottom: 15px;
            padding-left: 12px;
        }
        
        .campos:focus + .placeholder {
            top: 115px;
            color: #8c8c8c;
            font-size: 12px ;   
            animation-fill-mode: forwards;
        }
        .campos:focus + .placeholder2 {
            top: 180px;
            color: #8c8c8c;
            font-size: 12px ;   
            animation-fill-mode: forwards;
        }
    }
    .submit{
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background-color: red;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin-bottom: 10px;
        cursor: pointer;
        .h1{
            font-size: 16px;
        }
        
    }

    .input_checkbox{
        display: none;
    }
    .label-checkbox{
        display: flex;
    }
    .label-checkbox::before{
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid ;
        border-radius: 3px;
        background-color: #737373;
        height: 17px;
        width: 17px;   
        cursor: pointer;     
        
    }

    .input_checkbox:checked + .label-checkbox::before{
        content: '✓';
        font-weight: 900;
        background-color: white;
        
    }
    
    .label-cont{
        display: flex;
        flex-direction: row;
        width: 100px;
        justify-content: space-between;
        align-items: center;
    }
    .cont_checkbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 17px;
        
        .recuerdame{
            padding-left: 10px;
            font-size: 14px;
            color: #b3b3b3 ;
            font-weight: 600;
            cursor: pointer;
            
        }
        .recuerdame:hover{
            text-decoration: underline;
        }
        

       
        
        .ayuda{
            font-size: 13px;
            font-weight: 600;
            color: #b3b3b3;
        }
        .ayuda:hover{
            text-decoration: underline;
        }
        
    }
    .cont_botom{
        margin-top: 40px;
        .terminando{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            .font-suscribete{
                font-size: 16px;
                color: white;
                cursor: pointer;
            }
            .primera_vez{
                color: #737373;
                font-size: 16px;
            }
        }
        
        .pri{
            margin-top: 20px;
            color: #737373;
            font-size: 13px;
        }


        }
        .cursor{
            cursor: pointer;

        }
}
